.carouselContent {
    width: 100%;
    margin: 0 auto;
}
.slide {
  text-align: center;
  height: 700px; /* Ajusta la altura según tus necesidades */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  animation: fadeInOut 0.5s ease;
}
@keyframes fadeInOut {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    50% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      opacity: 0;
      visibility: visible;
    }
}
.slide.slide1 {
    background-image: linear-gradient(to right, rgb(0 0 0 / .3), rgb(0 0 0 / 10)), url(../public/img/guitarLA.jpg);
    padding: 0.5rem 0;
    background-position: center;
    background-size: cover;
}
.slide.slide2 {
    background-image: linear-gradient(to right, rgb(0 0 0 / .3), rgb(0 0 0 / 10)), url(../public/img/amanecer.jpg);
    padding: 0.5rem 0;
    background-position: center;
    background-size: cover;
}
.slide.slide3 {
    background-image: linear-gradient(to right, rgb(0 0 0 / .3), rgb(0 0 0 / 10)), url(../public/img/imagenCriptos.png);
    padding: 0.5rem 0;
    background-position: center;
    background-size: cover;
}

.slideContent {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}
